{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ STATIC_URL }}/img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}/img/favicon.ico" type="image/x-icon" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}cake-box.ru{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ STATIC_URL }}css/clean-blog.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/calc_style.css">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    {% render_block "css" %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% cms_toolbar %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Меню</span>
                    Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><h3>HOME</h3></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% show_menu 0 100 100 100 %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% block header %}
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/about-bg.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{% placeholder "title" %}</h1>
                        <hr class="small">
                        <span class="subheading">{% placeholder "sub_title" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}

    <!-- Main Content -->
    <div class="container">
        {% block content %}
            <section id="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-4">
    				<div class="calc">
    					<h2>Рассчет стоимости</h2>
    					<label for="balance_gr">Выберите вес</label><br>
    					<select class="form-control" name="balance_gr" id="balance_gr">
    						<option value="500">500 гр</option>
    						<option value="1000">1000 гр</option>
    						<option value="1500">1500 гр</option>
    						<option value="2000">2000</option>
    						<option value="2500">2500</option>
    						<option value="3000">3000</option>
    						<option value="3500">3500</option>
    						<option value="4000">4000</option>
    						<option value="4500">4500</option>
    						<option value="5000">5000</option>
    						<option value="6000">6000</option>
    						<option value="7000">7000</option>
    						<option value="8000">8000</option>
    						<option value="9000">9000</option>
    						<option value="10000">10000</option>
    						<option value="15000">15000</option>
    					</select>
    					<br>
    					<label for="cake_basis">Выберите основу</label>
    					<select name="cake_basis" id="cake_basis" class="form-control">
    						<option data-paper-ratio="1" value="Мусовый торт">Мусовый торт</option>
    						<option data-paper-ratio="1" value="Бисвит">Бисквит</option>
    						<option data-paper-ratio="1" value="Безе">Безе</option>
    					</select>
    					<br>
    					<label for="cake_decoration">Выберите формат оформления</label>
    					<select name="cake_decoration" id="cake_decoration" class="form-control">
    						<option data-print="14" data-print-file="110" data-color="1" value="Кондитерская мастика">Кондитерская мастика</option>
    						<option data-print="28" data-print-file="220" data-color="2" value="Глазурь">Глазурь</option>
    						<option data-print="37" data-print-file="110" data-color="3" value="Велюр">Велюр</option>
    						<option data-print="51" data-print-file="220" data-color="4" value="Классика">Классика</option>
    					</select>
    					<br>
    					<h4>
    						<small>Приблизительная</small> <br>
    						Стоимость
    					</h4>
    					<p class="price">
    						<span id="final_price">0</span>
    						Руб.
    					</p>
    				</div>
    			</div>
    			<div class="col-sm-8">
    				<div class="card-images text-center">
    					<img src="{{ STATIC_URL }}img/1_0.png" alt="" id="card_1_0">
    					<img src="{{ STATIC_URL }}img/1_1.png" alt="" id="card_1_1">
    					<img src="{{ STATIC_URL }}img/4_0.png" alt="" id="card_4_0">
    					<img src="{{ STATIC_URL }}img/4_1.png" alt="" id="card_4_1">
    					<img src="{{ STATIC_URL }}img/4_4.png" alt="" id="card_4_4">
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script>
    	$(document).ready(function(){
    		$('.calc select').change(function(){
    			$edition = $('select#card_edition').val();
    			$paper = $('select#card_paper').val();
    			$color = $('select#cake_decoration').val();
    			$print_file = $('select#cake_decoration option:selected').attr('data-print-file');
    			$paper_ratio = $('select#card_paper option:selected').attr('data-paper-ratio');
    			$color_format = $('select#cake_decoration option:selected').attr('data-color');
    			$print = $('select#cake_decoration option:selected').attr('data-print');
    			$division = 30;
    			$price = $edition + parseInt($print);
    			console.log($price);
    			$('span#final_price').text($price);
    			if ($color_format == 1) {
    				$('.card-images img').hide();
    				$('#card_1_0').show();
    			}
    			if ($color_format == 2) {
    				$('.card-images img').hide();
    				$('#card_1_1').show();
    			}
    			if ($color_format == 3) {
    				$('.card-images img').hide();
    				$('#card_4_0').show();
    			}
    			if ($color_format == 4) {
    				$('.card-images img').hide();
    				$('#card_4_1').show();
    			}
    			if ($color_format == 5) {
    				$('.card-images img').hide();
    				$('#card_4_4').show();
    			}
    		})
    	})
    </script>
        {% endblock content %}
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://vk.com/otradnoetort">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Z-inc {% static_placeholder "copyright" %}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ STATIC_URL }}js/clean-blog.min.js"></script>
    {% render_block "js" %}
</body>
</html>
